@charset "utf-8";

@font-face{
    font-family:'Noto Sans KR';
    font-style:'normal';
    font-weight:100;
    src:url(../fonts/NotoSansCJKkr-Thin.eot);
    src:url(../fonts/NotoSansCJKkr-Thin.eot?#iefix) format('embedded-opentype'),
        url(../fonts/NotoSansCJKkr-Thin.woff2) format('woff2'),
        url(../fonts/NotoSansCJKkr-Thin.woff) format('woff'),
        url(../fonts/NotoSansCJKkr-Thin.otf) format('opentype');
    src:local(※), url(../fonts//NotoSansCJKkr-Thin.woff) format('woff');        
}
@font-face{
    font-family: 'Noto Sans KR';
    font-style:'normal';
    font-weight:300;
    src:url(.../fonts/NotoSansCJKkr-Light.eot);
    src:url(.../fonts/NotoSansCJKkr-Light.eot?#iefix) format('embedded-opentype'),
        url(.../fonts/NotoSansCJKkr-Light.woff2) format('woff2'),
        url(.../fonts/NotoSansCJKkr-Light.woff) format('woff'),
        url(.../fonts/NotoSansCJKkr-Light.otf) format('opentype');
    src:local(※), url(../fonts//NotoSansCJKkr-Light.woff) format('woff');        
}
@font-face{
    font-family: 'Noto Sans KR';
    font-style:'normal';
    font-weight:400;
    src:url(../fonts/NotoSansCJKkr-Regular.eot);
    src:url(../fonts/NotoSansCJKkr-Regular.eot?#iefix) format('embedded-opentype'),
        url(../fonts/NotoSansCJKkr-Regular.woff2) format('woff2'),
        url(../fonts/NotoSansCJKkr-Regular.woff) format('woff'),
        url(../fonts/NotoSansCJKkr-Regular.otf) format('opentype');
    src:local(※), url(../fonts//NotoSansCJKkr-Regular.woff) format('woff');        
}
@font-face{
    font-family: 'Noto Sans KR';
    font-style:'normal';
    font-weight:500;
    src:url(../fonts/NotoSansCJKkr-Medium.eot);
    src:url(../fonts/NotoSansCJKkr-Medium.eot?#iefix) format('embedded-opentype'),
        url(../fonts/NotoSansCJKkr-Medium.woff2) format('woff2'),
        url(../fonts/NotoSansCJKkr-Medium.woff) format('woff'),
        url(../fonts/NotoSansCJKkr-Medium.otf) format('opentype');
    src:local(※), url(../fonts//NotoSansCJKkr-Medium.woff) format('woff');        
}
@font-face{
    font-family: 'Noto Sans KR';
    font-style:'normal';
    font-weight:700;
    src:url(../fonts/NotoSansCJKkr-Bold.eot);
    src:url(../fonts/NotoSansCJKkr-Bold.eot?#iefix) format('embedded-opentype'),
        url(../fonts/NotoSansCJKkr-Bold.woff2) format('woff2'),
        url(../fonts/NotoSansCJKkr-Bold.woff) format('woff'),
        url(../fonts/NotoSansCJKkr-Bold.otf) format('opentype');
    src:local(※), url(../fonts//NotoSansCJKkr-Bold.woff) format('woff');        
}
@font-face{
    font-family: 'Noto Sans KR';
    font-style:'normal';
    font-weight:900;
    src:url(../fonts/NotoSansCJKkr-Black.eot);
    src:url(../fonts/NotoSansCJKkr-Black.eot?#iefix) format('embedded-opentype'),
        url(../fonts/NotoSansCJKkr-Black.woff2) format('woff2'),
        url(../fonts/NotoSansCJKkr-Black.woff) format('woff'),
        url(../fonts/NotoSansCJKkr-Black.otf) format('opentype');
    src:local(※), url(../fonts//NotoSansCJKkr-Black.woff) format('woff');        
}
@font-face{
    font-family: 'Helvetica';
    font-style:'normal';
    font-weight:600;
    src:url(../fonts/HelveticaNowDisplay-Bold.eot);
    src:url(../fonts/HelveticaNowDisplay-Bold.eot?#iefix) format('embedded-opentype'),
        url(../fonts/HelveticaNowDisplay-Bold.woff2) format('woff2'),
        url(../fonts/HelveticaNowDisplay-Bold.woff) format('woff'),
        url(../fonts/HelveticaNowDisplay-Bold.otf) format('opentype'),
        url(../fonts/HelveticaNowDisplay-Bold.ttf) format('truetype');
    src:local(※), url(../fonts//HelveticaNowDisplay-Bold.woff) format('woff');        
}
@font-face{
    font-family: 'Helvetica';
    font-style:'normal';
    font-weight:400;
    src:url(../fonts/HelveticaNowDisplay-Regular.eot);
    src:url(../fonts/HelveticaNowDisplay-Regular.eot?#iefix) format('embedded-opentype'),
        url(../fonts/HelveticaNowDisplay-Regular.woff2) format('woff2'),
        url(../fonts/HelveticaNowDisplay-Regular.woff) format('woff'),
        url(../fonts/HelveticaNowDisplay-Regular.otf) format('opentype'),
        url(../fonts/HelveticaNowDisplay-Regular.ttf) format('truetype');
    src:local(※), url(../fonts//HelveticaNowDisplay-Regular.woff) format('woff');        
}


/*기본*/
html, body {
    background:#ffffff;
    font-family:'Noto Sans KR', sans-serif;
    font-weight:400;
}
* {
    color:#333333;
    margin:0;
    padding:0;
    box-sizing:border-box;
    word-break:keep-all;
    line-height:1;
}
::-moz-selection { /* Code for Firefox */
  color: #ffffff;
  background: #a3d1a9;
}

::selection {
  color: #ffffff;
  background: #a3d1a9;
}
a {
    color:#333333;
    text-decoration:none;
    transition:.2s;
}
a:hover,
a:focus,
a:active {
    color:#3cb54a;
}
ul,ol,li {
    list-style:none;
}
table {
    border-collapse:collapse;
}
.clearB::after {
    content:"";
    display:block;
    clear:both;
}

/*레이아웃*/
.wrap {
    width:100%;
    max-width:1300px;
    margin:0 auto;
    position:relative;
}
.wrap-in, .header-inner {
    width:92.31%;
    max-width:1200px;
    margin:0 auto;
    position:relative;
}
.container {
    width:91.67%;
    max-width:1100px;
    margin:0 auto;
}
.c-inner-1200 {
    width:83.34%;
    max-width:1000px;
    margin:0 auto;
}
.c-inner-1100 {
    width:90.91%;
    max-width:1000px;
    margin:0 auto;
}
.header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:80px;
    background-color:#ffffff;
    box-shadow:0px -2px 10px rgba(0,0,0,.2);
    z-index:9999999;
}
.header-inner {
    height:100%;
}
.h-logo {
    float:left;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.gnb {
    float:right;
    width:35%;
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.footer {
    position:relative;
    width:100%;
    height:450px;
}
.f-back {
    position:relative;
    top:0;
    left:0;
    width:88%;
    height:100%;
    background:#666666;
    z-index:1;
}
.f-contents {
    position:relative;
    background:#666666;
    height:100%;
    top:-100%;
    left:0;
    z-index:2;
    padding-top:100px;
}
.f-contact {
    width:55%;
    float:left;
}
.f-links {
    width:45%;
    float:left;
}
.f-inner {
    margin-left:50px;
}

/*헤더*/
.h-logo, .gnb>li {
    text-align:center;
}
.h-logo a, .gnb>li a {
    font-weight:500;
    font-size:24px;
}
.gnb>li>a {
    position:relative;
    display:inline-block;
}
.gnb-on, .gnb-off {
    display:inline-block;
    width:0%;
    height:2px;
    float:left;
    position:absolute;
    top:34px;
    left:0;
    border:none;
}
.gnb-on {
    background:#3cb54a;
    width:0%;
}
.gnb-off {
    background:#ffffff;
    width:0%;
    z-index:1;
}

/*푸터*/
.footer * {
    color:#ffffff;
}
.f-title {
    font-size:14px;
    font-weight:300;
    margin-bottom:35px;
}
.f-title::before {
    content: '───';
    display:inline-block;
    padding-right:10px;
    letter-spacing: -1px;
    color:#ffffff;
}
.f-mail {
    font-size:32px;
    line-height:1.5;
}
.f-copy {
    display:inline-block;
    margin-top:60px;
    margin-left:50px;
    font-size:14px;
    font-weight:100;
    line-height:1.5;
}
.f-linksite {
    display:inline-block;
    font-size:20px;
    margin-bottom:30px;
}
.f-link:last-child .f-linksite {
    margin-bottom:0;
}

@media screen and (max-width:1200px) {
    .gnb {
        width:45%;
    }
}
@media screen and (max-width:800px) {
    .gnb {
        width:50%;
    }
    .f-inner {
        margin-left:45px;
    }
    /*헤더*/
    .h-logo a, .gnb>li a {
        font-size:22px;
    }
    /*푸터*/
    .f-title {
        font-size:12px;
        margin-bottom:30px;
    }
    .f-mail {
        font-size:24px;
    }
    .f-copy {
        font-size:14px;
    }
    .f-linksite {
        font-size:16px;
        margin-bottom:24px;
    }
}
@media screen and (max-width:640px) {
    .gnb {
        width:55%;
    }
    .f-contents {
        padding-top:50px;
    }
    .f-contact {
        width:100%;
    }
    .f-links {
        width:100%;
        margin-top:40px;
    }

    /*헤더*/
    .h-logo a, .gnb>li a {
        font-size:20px;
    }

    /*푸터*/
    .f-title {
        font-size:14px;
        margin-bottom:20px;
    }
    .f-mail {
        font-size:24px;
    }
    .f-copy {
        margin-top:40px;
        font-size:14px;
        padding-bottom:20px;
    }
    .f-linksite {
        font-size:16px;
        margin-bottom:24px;
    }
}
@media screen and (max-width:480px) {
    .header {
        height:120px;
    }
    .h-logo {
        width:100%;
        height:60%;
    }
    .gnb {
        width:100%;
        height:40%;
    }
    .f-inner {
        margin-left:20px;
    }
    .f-links {
        margin-top:30px;
    }
    /*헤더*/
    .h-logo a {
        font-size:30px;
        padding:6px;
        color:#3cb54a;
    }
    /*푸터*/
    .footer * {
        color:#ffffff;
    }
    .f-title {
        font-size:12px;
        margin-bottom:18px;
    }
    .f-mail {
        font-size:20px;
    }
    .f-copy {
        margin-top:30px;
        font-size:10px;
        margin-left:20px;
    }
    .f-linksite {
        font-size:14px;
        margin-bottom:20px;
    }
}